<!doctype html>
<title>ShadowNet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type = "text/javascript" src = "https://www.tutorialspoint.com/jquery/jquery-3.6.0.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <ul class="navbar-nav">
      <form action="{{ url_for('index') }}">
        <button type="submit" class="btn btn-lg btn-primary me-3">Home</button>
      </form>
      <form action="{{ url_for('quantum_eye') }}">
        <button type="submit" class="btn btn-lg btn-primary">Quantum Eye</button>
      </form>
      <!--
      <form action="/admin">
        <button type="button" class="btn btn-lg btn-primary me-3">Server Status</button> 
      </form>
      -->
    </ul>
  </div>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
