<!DOCTYPE html>
<html>

<head>
    <title>Badminton Platform</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            flex: 1 0 calc(20% - 10px);
            /* Adjust the percentage based on how many cards you want per row */
            margin-bottom: 20px;
        }
    </style>
    <script>
        $(document).ready(function () {
            // Assuming flashMessage is a jQuery object representing your flash message element
            var flashMessage = $('#flash-message');

            // Fade out the flash message after delay
            flashMessage.delay(2000).fadeOut('slow', function () {
                // Optionally, you can remove the element after fading out
                $(this).remove();
            });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">Badminton Platform</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                {% if session.get('role') == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_competitions') }}">Manage Competitions</a>
                </li>
                {% endif %}
                {% if 'username' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container mt-3" id="flash-message">
        <div class="alert alert-primary">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>

</html>