html,
body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

:root {
    --accent: #ad0aad;
}

.errors {
    color: #f16464;
}