<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/home" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/shop" class="nav-link px-2 link-dark">Shop</a></li>
            <li><a href="/orders" class="nav-link px-2 link-dark">Orders</a></li>
            <li><a href="/cart" class="nav-link px-2 link-dark">Cart</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-danger me-2" onclick="redirect('/logout')">Logout</button>
            <span class="balance">Balance: {{balance}} {{currency}}</span>
        </div>
    </header>
    <h2 class="mb-4">Your previous Orders</h2>
    <ul class="list-group">
        {% for item in items %}
        <li class="list-group-item d-flex justify-content-between align-items-center" id={{item.id}}>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{item.name}}</h5>
                <small>Qty: {{item.quantity}}</small>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
