{% extends 'base.html' %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="w-80 center">
        <div class="page-header d-flex justify-content-center mb-4">
            <h1>Logs</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Datetime</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td>{{ note.created }}</td>
                    <td>User {{ note.author.username }} created note "{{ note.title }}"</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}