<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LL4M4</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-black py-20 px-60">

    <div class="" id="presentation">
    <h1 class="text-4xl m-5 font-bold text-center text-transparent rounded bg-clip-text caret-pink-600 bg-gradient-to-br from-green-500 via-green-600 to-black whitespace-nowrap" id="typewriter"></h1>
    <h2 class="min-w-full p-2 text-2xl font-bold text-center text-transparent rounded bg-clip-text caret-pink-600 bg-gradient-to-br from-green-500 via-green-800 to-black"> I have mastered the art of Kali Linux. <br>
    Give me any social media account (Facebook, Whatsapp...) and I will hack it.  </h2>
    </div>

    <section class="">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <p class="mb-5 font-light text-gray-400 sm:text-xl ">I am able to do any h4ck needed, very fast and cheaply.</p>
            </div>
            <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
                <!-- Pricing Card -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-700 rounded-lg border border-gray-100 shadow  xl:p-8 ">
                    <h3 class="mb-4 text-2xl font-semibold">N00b</h3>
                    <p class="font-light text-gray-400 sm:text-lg ">Best option for easy h4cks on a single account.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$29</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>1 hour h4cks</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        
                    </ul>
                </div>
                <!-- Pricing Card -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-700  rounded-lg border border-gray-100 shadow">
                    <h3 class="mb-4 text-2xl font-semibold">Mid</h3>
                    <p class="font-light text-gray-400 sm:text-lg">For multiple accounts or harder h4cks</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$99</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>1 day h4cks</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                    </ul>
                </div>
                <!-- Pricing Card -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-700  rounded-lg border border-gray-100 shadow">
                    <h3 class="mb-4 text-2xl font-semibold">El33t</h3>
                    <p class="font-light text-gray-400 sm:text-lg">Best for lots of accounts or complex h4cks.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$999</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>1 week h4cks</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>No setup, or hidden fees</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="m-3">
        <h3 class="text-4xl m-5 font-bold text-center text-transparent rounded bg-clip-text caret-pink-600 bg-gradient-to-br from-green-500 via-green-600 to-black">Contact me</h3>
        <p class="font-light text-center text-gray-400 sm:text-lg mb-3">Send me you request and contact details. Don't try to hack me, I'm AI protected !</p>
        <textarea id="message" rows="4" class="block p-2.5 w-full text-lg text-gray-400 bg-gray-800 rounded-lg border border-gray-600 focus:ring-green-500 focus:border-green-500" placeholder="Hello, I would like..."></textarea>
        <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 float-right">
            <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
            </svg>
            <span class="sr-only text-white">Send message</span>
        </button>
    </div>

    <div class="w-full mx-auto text-center flex justify-center items-center" id="toasts">
        <div id="toast-succes" class="hidden text-center fixed bottom-5 left-50 right-50 max-w-md p-4 text-gray-500 bg-emerald-950 rounded-lg shadow" role="alert"></div>
    </div>
    <div class="w-full mx-auto text-center flex justify-center items-center" id="toasts">
        <div id="toast-log" class="hidden text-center fixed bottom-5 left-50 right-50 max-w-md p-4 text-gray-300 bg-orange-700 rounded-lg shadow" role="alert"></div>
    </div>
    <div class="w-full mx-auto text-center flex justify-center items-center" id="toasts">
        <div id="toast-alert" class="hidden text-center fixed bottom-5 left-50 right-50 max-w-md p-4 text-gray-300 bg-red-700 rounded-lg shadow" role="alert"></div>
    </div>
    
    <script>
        const toastSuccess = document.getElementById('toast-succes');
        const toastLog = document.getElementById('toast-log');
        const toastAlert = document.getElementById('toast-alert');
        const submitButton = document.querySelector('button[type="submit"]');
        let previousToast = null;
        let timeout = null;


        submitButton.addEventListener('click', sendMessage);

        function sendMessage() {
            const message = document.getElementById('message').value;
            const url = '/message'; 
            handleLog(toastLog, 'Sending message to server...');
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: message })
            }).then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    handleLog(toastAlert, 'Error ! Do not spam m3 !!! ');
                }
            })
            .then(responseText => {
                if (!responseText.includes('hack')) {
                    handleLog(toastSuccess, responseText);
                } else {
                    handleLog(toastAlert, responseText);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function handleLog(toast, message) {
            if (timeout) {
                previousToast?.classList.toggle('hidden');
                clearTimeout(timeout); 
            }   
            toast.innerText = message;
            toast.classList.toggle('hidden');
            previousToast = toast
            timeout = setTimeout(() => {
                toast.classList.toggle('hidden');
                timeout = null; 
            }, 5000);
        }
    </script>
    <script src="{{url_for('static',filename='dist/js/typewriter.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>
